<!-- Toggle Preview - ctrl+shift+v or cmd+shift+v
Open Preview to the Side - ctrl+k v or cmd+k v -->

<!DOCTYPE html>
<html>
    <head>
        <title>web chat</title>
        <link rel="stylesheet" href="../static/index/styles.css">
    </head>

    <body>
        <!-- <div class="channels-container"><div class="channels-text">Channels</div></div> -->
        <div class="chat-container">
            <div class="message-container">
            </div>
            <textarea class="message-input" id="messageInput"></textarea>
        </div>
        <script src="/static/index/scripts.js"></script>
    </body>
</html>